:root{
    --color-de-acento: #2B0F14;
    --color-de-fondo: #5A0F1B; 
    --color-de-texto: #3A3A3A ;
    --color-de-títulos: #0B0B0B;
    --color-extra: #4A235A;
    --borde-redondeado: 10px; /* 5% alternativa */
}

body{
    background-color: var(--color-extra);
    font-family: "Alice", serif;
    color: var(--color-de-acento);
}

#titulo-principal{
    color: var(--color-de-títulos);
    font-family: "Fontdiner Swanky", serif;
}

.listas-ordenadas{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-de-acento);
    padding: 50px 20px 90px 5px; /* TRouBLe */ /* px pegado al número */
    border: 3px solid var(--color-extra);
    margin: 60px ;
}

img{
    width: 50%;
    height: auto; 
    border: 30px;
    border-radius: 20px;
    display: block;
    margin: auto;
}